@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shuffle-1 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(100px, 50px) rotate(15deg);
  }
  50% {
    transform: translate(50px, 100px) rotate(-15deg);
  }
  75% {
    transform: translate(-50px, 50px) rotate(15deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes shuffle-2 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-100px, 50px) rotate(-15deg);
  }
  50% {
    transform: translate(-50px, 100px) rotate(15deg);
  }
  75% {
    transform: translate(50px, 50px) rotate(-15deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.animate-shuffle-1 {
  animation: shuffle-1 2s infinite;
}

.animate-shuffle-2 {
  animation: shuffle-2 2s infinite;
}

@keyframes bounce-soccer {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-30px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-soccer {
  animation: bounce-soccer 0.8s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 200ms ease-out forwards;
}



